<% dul_location_service( loc_n,loc_b,call_no ) %>

<% if @item_location['image'].present? %>

  <div class="col-md-12 modal-location">
    <div class="col-md-6">
      <h4 class="text-center"><span class="label label-success"><%= t('trln_argon.map_location.label.building') %></span> <%= @item_location['building'] %></h4>
    </div>
    <div class="col-md-6">
      <h4 class="text-center"><span class="label label-success"><%= t('trln_argon.map_location.label.area') %></span> <%= @item_location['area'] %></h4>
    </div>
  </div>

  <div class="col-md-12">
    <img src="//<%= @item_location['server_name'] %><%= @item_location['media_path'] %><%= @item_location['image'] %>" class="img-responsive .img-thumbnail" alt="location map">
  </div>

<% else %>

  <div class="row">

    <div class="col-md-12">

      <h4><%= @item_location['extlink_title'] %></h4>

      <p><%= @item_location['generic_msg_content'] %></p>

      <p class="text-center"><a href="<%= @item_location['external_url'] %>" class="btn btn-default btn-success" target="_blank"><%= @item_location['extlink_text'] %></a></p>

    </div>

  </div>

<% end %>
