<div class="<%= local_assigns.fetch :swatchclass, 'col-sm-1' %>">
  <div class="color-swatch <%= colorname %> <%= variant_type %>-<%= pct %>">
    <div class="color-block"></div>
    <code><%= pct %>%</code>
    <div class="clearfix"></div>
    <!--
    <div class="contrast-score contrast-score-black"></div>
    <div class="contrast-score contrast-score-white"></div>
    -->
  </div>
</div>
