<%# Overrides template from trln_argon, from TD-590 branch %>

<div class="row">

  <div class="navbar-left logo-wrapper col-xs-12 col-sm-5 col-md-4 col-lg-3">

    <div class="navbar-dul">
      <a href="https://library.duke.edu"><img class="navbar-logo" alt="Duke University Libraries" src="https://library.duke.edu/masthead/img/logo.png"></a>
    </div>
    <div class="navbar-product-name">
      
      <a href="/" class="product-name-primary">Catalog</a>
    </div>

    <%# # Institution Logo %>
    <%# inst = TrlnArgon::Engine.configuration.local_institution_code %>
    <%#= link_to content_tag(:span, institution_long_name, class: "sr-only"), root_path, class: "navbar-brand" %>

  </div>


  <div class="searchbar navbar-left col-xs-9 col-sm-5 col-md-5 col-lg-6">

    <%= form_tag search_action_url, method: :get, class: 'search-query-form clearfix navbar-form', role: 'search' do %>
      <% params_to_block = blacklight_config.search_fields
                                            .keys
                                            .map(&:to_sym)
                                            .concat(%i[q search_field qt page utf8 op]) %>
      <%= render_hash_as_hidden_fields(search_state.params_for_search.except(*params_to_block)) %>
      <!-- <div class="row"> -->

        <div class="form-group mast-search">

          <div class="input-group">

            <% if search_fields.length > 1 %>
                <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
                <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), id: "search_field", class: "search_field selectpicker", data: {width: "fit", style: "btn-default search-select"} ) %>
            <% elsif search_fields.length == 1 %>
              <%= hidden_field_tag :search_field, search_fields.first.last %>
            <% end %>

            <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
            <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search_q q form-control", id: "q", autofocus: should_autofocus_on_search_box?, data: { autocomplete_enabled: autocomplete_enabled?, autocomplete_path: blacklight.suggest_index_path }  %>

            <div class="input-group-btn">
              <button type="submit" class="btn btn-primary search-btn" id="search">
                <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>

          </div>

        </div>

      <!-- </div> -->

      <!-- <div class="row"> -->

        <div class='search-extra-controls'>
          <div class='input-group'>
            <div class='input-group-element'>
              <%# check_box :search_within, 'no', disabled: true %>
              <!-- <label for='search_within'>Search within results</label> -->
            </div>
            <div class='input-group'>
              <%= link_to t('blacklight_advanced_search.form.title'), advanced_search_url, class: 'advanced_search'%>
            </div>
          </div>
        </div>

      <!-- </div> -->

    <% end %>

  </div>



  <div class="navbar-right col-xs-3 col-sm-2 col-md-3 col-lg-3">



    <% # Top Nav %>
    <div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="user-util-collapse">
        <%#= render :partial=>'/user_util_links' %>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="https://library.duke.edu/my-accounts" class="my-accounts">My Accounts</a>
            </li>
            <li>
              <a href="https://library.duke.edu/research/ask" class="ask-a-librarian">Ask</a>
            </li>
            <li>
              <a href="#" id="full-menu-toggle" class="full-menu">Menu</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
<%# TODO: refactor to the <head> %>
<script src="//library.duke.edu/masthead/load-masthead.js.php?width=1200&amp;fixed=false"></script>

<%# TODO: refactor to the a .js file %>
<script>
  $(document).ready(function() {
    $('a#full-menu-toggle').on('click',function(e) {
      $(this).toggleClass('menu-active');
      $('#dul-masthead-region-megamenu').slideToggle();
    });
  });
</script>
<div class="row">
  <div id="dul-masthead-filler">
  </div>
</div>
