<%# NOTE: overrides TRLN Argon partial in order to add request button, then %>
<%# render the rest of these links as a dropdown menu instead of a button set. %>

<%= render :partial => 'request_button', locals: { document: @document } %>

<% if show_doc_actions? %>
<div class="btn-group doc-tools">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('trln_argon.tools.btn_label') %> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <%= render_show_doc_actions @document do |config, inner| %>
      <li class="<%= config.name %>" >
        <%= inner %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

<%= render :partial => 'bookmark_control', locals: { document: @document } %>
